
.container {
    width: 40%;
    margin-left: 20%;
}

#dynamic-list {
    padding: 0;
    
    list-style: none;
}

#dynamic-list li {
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid #de4f4f;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#frequencyHolder {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ff9818;
}

.input_box {
    padding: 8px;
    border: 1px solid #0081bf;
    border-radius: 5px;
    margin-right: 10px;
}

.add_btn {
    background-color: #6fb17d;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 15px;
    border: 1px solid #6fb17d;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.remove_btn {
    background-color: #ff4949;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 15px;
    border: 1px solid #ff4949;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}













